<footer class="footer">
    <!--<div class="footer__logo-box">
        <img src="img/favicon.png" alt="Full logo" class="footer__logo">
    </div>-->
    <div class="row">
        <div class="col-1-of-2">
            <div class="footer__navigation">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">company</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">contact us</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">carrers</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">privacy policy</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">terms</a></li>
                </ul>
                <div class="footer-icon__box">
                    <a href="#" class="footer-icon footer-icon__facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="footer-icon footer-icon__google"><i class="fab fa-google"></i></a>
                    <a href="#" class="footer-icon footer-icon__instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="footer-icon footer-icon__twitter"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            
           
            <div class="footer__contact"><a href="#" class="footer-icon"><i class="fab fa-whatsapp"></i></a>+91 55555555</div>
            <div class="footer__contact"><a href="#" class="footer-icon"><i class="fas fa-phone"></i></a>+91 55555555-2</div>
            <div class="footer__contact"><a href="#" class="footer-icon"><i class="far fa-envelope"></i></a>customer-service@hestia.in</div>
            <div class="footer__contact"><a href="#" class="footer-icon"><i class="fas fa-map-marker-alt"></i></a>Horsur main road, Bangalore 560029</div>
            
        </div>
        <div class="col-1-of-2">
            <p class="footer__copyright">
                Build by <a href="#" class="footer__link">Hestia Team</a> Student of 3rd year BCA at <a href="https://christuniversity.in/" class="footer__link" target="_blank">Christ (Deemed to be university)</a>.<br> Copyright2018 &copy;. This website is project of web technology project subject 5th semester
            </p>
        </div>
    </div>
</footer>




<div class="popup" id="login">
<div class="popup__content">
    <div class="popup__left">
        <img src="img/about-house.jpeg" alt="house" class="popup__img">
        <img src="img/about-people2.jpeg" alt="people" class="popup__img">
        <img src="img/about-pets.jpeg" alt="pets" class="popup__img">
    </div>
    <div class="popup__right">
        <a href="#" class="popup__close">&times;</a>
    <div class="login_content">
            <p>Log in with your social media account</p>   
            <div class="social-accont">
                <a href="/auth/facebook" class="refer-icon refer-icon-facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="/auth/google" class="refer-icon refer-icon-gmail"><i class="fab fa-google"></i></a>
                <a href="/auth/twitter" class="refer-icon refer-icon-twitter"><i class="fab fa-twitter"></i></a>
            </div> 
            <br><hr>
        <form action="/login" method="POST">
            <p>or</p>
            <input class="signup-box-form--input" type="email" name="username" placeholder="Email Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Email formatting wrong">
            <input class="signup-box-form--input" type="password" name="password"  placeholder="Password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
            <button name="login" id="" value="Login" class="login_content-button">Login</button>
        </form>
        <div class="row">
             <div class="col-1-of-2">
                <a href="#" class="left-link">forgot password?</a>
            </div>
            <div class="col-1-of-2">
                <a href="/signUp" class="right-link">Register Now</a>
            </div>
        </div>
        
    </div>      
</div>
</div>
</div>
</main>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
