<% include ./partials/header %>
        <title>Hestia | page not found</title>
    </head>
    <body>
        
            <nav class="navbar navbar-header" id="navbar">
                    <div >
                        <ul>
                            <li><a href="/" class="navbar-band navbar-left" id="nav-band">&nbsp</a></li>
                            <li><a href="/#about" class="navbar-left">About</a></li>
                            <li><a href="/#book" class="navbar-left">Our Services</a></li>
                            <li><a href="/#sitter" class="navbar-left">Sitters</a></li>
                            <li><a href="/#store" class="navbar-left">Store</a></li>
                            <li><a href="/#joinUs" class="navbar-left">Join us</a></li>
                            <% if(user) { %>
                            <li><a href="/logout" class="navbar-right">Logout</a></li>
                            <li><a href="/account" class="navbar-right"><i class="fas fa-user"></i>&nbspMy Account</a></li>
                            <li><a href="#" class="navbar-right">Hi, <%= user.name %></a></li>

                            <% } else { %>
                            <li><a href="#login" class="navbar-right"><i class="fas fa-user"></i>&nbspLogin</li>
                            <li><a href="/signup" class="navbar-right"><i class="fas fa-user-plus"></i>&nbspSign up</a>>
                            <% } %>
                        </ul>
                    </div>
                </nav>
            
                <div class="navigation">
                    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
                   
                    <label for="navi-toggle" class="navigation__button">
                        <span class="navigation__icon">  </span>
                    </label>
        
                    <div class="navigation__background">&nbsp;</div>
        
                    <nav class="navigation__nav">
                        <ul class="navigation__list">
                            <li class="navigation__item" ></li><a href="/#about" class="navigation__link">About</a></li>
                            <li class="navigation__item" ><a href="/#book" class="navigation__link">Our Services</a></li>
                            <li class="navigation__item" ><a href="/#sitter" class="navigation__link">Sitters</a></li>
                            <li class="navigation__item" ><a href="/#store" class="navigation__link">Store</a></li>
                            <li class="navigation__item" ><a href="/#joinUs" class="navigation__link">Join us</a></li>
                            <li class="navigation__item" ><a href="signUp.html" class="navigation__link">Sign up</a></li>
                            <li class="navigation__item" ><a href="#login" class="navigation__link">Log in</a></li>
                        </ul>
                    </nav>
                </div>

    <div class="notfound">
        <div class="notfound__box">
        <div class="row">
            <div class="col-1-of-2">
                <img src="img/babycry.png" alt="404error" class="notfound__img">
            </div>
            <div class="col-1-of-2">
                <div class="notfound__content">
                    <h2 class="notfound__heading">Awwww.....Don't cry</h2>
                    <p>
                        It's just a <span class="error">&nbsp;404 Error!</span><br>What you're looking for may have been misplaced in Long Term Memory.
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>
    <footer class="footer">
            <!--<div class="footer__logo-box">
                <img src="img/favicon.png" alt="Full logo" class="footer__logo">
            </div>-->
            <div class="row">
                <div class="col-1-of-2">
                    <div class="footer__navigation">
                        <ul class="footer__list">
                            <li class="footer__item"><a href="#" class="footer__link">company</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">contact us</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">carrers</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">privacy policy</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">terms</a></li>
                        </ul>
                        <div class="footer-icon__box">
                            <a href="#" class="footer-icon footer-icon__facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="footer-icon footer-icon__google"><i class="fab fa-google"></i></a>
                            <a href="#" class="footer-icon footer-icon__instagram"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="footer-icon footer-icon__twitter"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    
                   
                    <div class="footer__contact"><a href="#" class="footer-icon"><i class="fab fa-whatsapp"></i></a>+91 55555555</div>
                    <div class="footer__contact"><a href="#" class="footer-icon"><i class="fas fa-phone"></i></a>+91 55555555-2</div>
                    <div class="footer__contact"><a href="#" class="footer-icon"><i class="far fa-envelope"></i></a>customer-service@hestia.in</div>
                    <div class="footer__contact"><a href="#" class="footer-icon"><i class="fas fa-map-marker-alt"></i></a>Horsur main road, Bangalore 560029</div>
                    
                </div>
                <div class="col-1-of-2">
                    <p class="footer__copyright">
                        Build by <a href="#" class="footer__link">Hestia Team</a> Student of 3rd year BCA at <a href="#" class="footer__link">Christ (Deemed to be university)</a>.<br> Copyright2018 &copy;. This website is project of web technology project subject 5th semester
                    </p>
                </div>
            </div>
        </footer>

</body>
</html>