<% include ./partials/header %>
        <title>Hestia | find sitters around you</title>
    </head>

    <body>
        <a href="#headder" class="btn-totop" id="toTopBtn">&uarr;</a>
        <% include ./partials/navbar %>
    <header class="header" id="headder">
        <div class="header__logo-box">
            <img src="img/Hestia_logo2.png" alt="Logo" class="header__logo">
        </div>
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main" id="primary-heading">&nbspHestia</span>
                <span class="heading-primary--sub" id="primary-sub">&nbspCome, feel home</span>
            </h1>

            <a href="#about" class="btn btn--white btn--animated">Explore &nbsp &nbsp<i class="far fa-eye"></i></a>

        </div>
    </header>

    <main> 
       
        <section class="section-about" id="about">
            <div class="u-center-text u-margin-bottom-big">
                <h1 class="heading-secondary">
                About us
                </h1>
            </div>

            <div class="row">

                <div class="col-1-of-2">
                    <h3 class="heading-tertiry u-margin-bottom-small">headddddddingg Testttt</h3>
                     <p class="paragraph">
                         ipsum dolor sit amet consectetur adipisicing elit. ipsa aliquid recusandae non ducimus, commodi reprehenderit quibusdam delectus nulla debitis laborum, autem cumque doloribus?
                    </p>
                    <h3 class="heading-tertiry u-margin-bottom-small">Test headddddddingg </h3>
                     <p class="paragraph">
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis error temporibus molestias vitae reiciendis fuga ipsa aliquid recusandae non ducimus, commodi reprehenderit quibusdam delectus nulla debitis laborum, autem cumque doloribus?
                     </p>
                     <a href="#" class="btn-text">Learn more &rarr;</a>
                 </div>

                <div class="col-1-of-2">
                    <div class="composition">
                            <img src="img/about-house.jpeg" alt="photo1" class="composition__photo composition__photo--p1">
                            <img src="img/about-people.jpeg" alt="photo2" class="composition__photo composition__photo--p2">
                            <img src="img/about-pets.jpeg" alt="photo3" class="composition__photo composition__photo--p3">
                    </div>
                </div>
             </div>

        </section>

        

        <section class="section-book" id="book">
            <div class="u-center-text u-margin-bottom-medium">
                <h1 class="heading-secondary">
                    Book Service
                </h1>
            </div>
            <div class="row u-margin-bottom-small">
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--1">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--1">for your house</span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>function 1</li>
                                    <li>function 2</li>
                                    <li>function 3</li>
                                    <li>function 4</li>
                                    <li>function 5</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-1">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    <p class="card__price-only">start at</p>
                                    <p class="card__price-value">Rs.300</p>
                                </div>
                                <a href="book-sitter.html" class="btn btn--white">Book now!</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--2">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--2">for your</br>family</span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>function 1</li>
                                    <li>function 2</li>
                                    <li>function 3</li>
                                    <li>function 4</li>
                                    <li>function 5</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-2">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    <p class="card__price-only">start at</p>
                                    <p class="card__price-value">Rs.400</p>
                                </div>
                                <a href="book-sitter.html" class="btn btn--white">Book now!</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--3">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--3">for your</br>pets</span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>function 1</li>
                                    <li>function 2</li>
                                    <li>function 3</li>
                                    <li>function 4</li>
                                    <li>function 5</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-3">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    <p class="card__price-only">start at</p>
                                    <p class="card__price-value">Rs.500</p>
                                </div>
                                <a href="book-sitter.html" class="btn btn--white">Book now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="u-center-text">
                 <a href="book-sitter.html" class="btn btn--lightblue">Request a Sitter</a>
            </div>
        </section>

        <section class="section-sitter" id="sitter">

            <!--background-video-->
            <!--<div class="bg-video">
                <video class="bg-video__content" autoplay muted loop>
                    <source src="img/Vegas-baby.mp4" type="video/mp4">
                    <source src="img/Vegas-baby.webm" type="video/webm">
                        your browser not suported!
                </video>
            </div>-->


            <div class="u-center-text u-margin-bottom-small">
                <h1 class="heading-secondary">
                Our Sitters
                </h1>
            </div>
            <div class="row">
                <div class="col-1-of-2">
                    <div class="story">
                        <figure class="story__shape">
                            <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5d43ec18ec2cf6ff854513b9e8395c1e&auto=format&fit=crop&w=1650&q=80" alt="person test" class="story__img">
                            <figcaption class="story__caption">
                                Wakanda forever
                            </figcaption>
                        </figure>
                        <div class="story__text">
                            <h3 class="heaeding-tertiary u-margin-bottom-small">Sawatdee ja People</h3>
                            <ul>
                                <li>Rate: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></li>
                                <li>Type: pets</li>
                                <li>Language knows: english, kanada</li>
                                <li>Working time: 24hrs</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-2">
                        <div class="story">
                            <figure class="story__shape">
                                <img src="https://images.unsplash.com/photo-1504593811423-6dd665756598?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9305a37dfc018487bca76a6f59944ad4&auto=format&fit=crop&w=1650&q=80" alt="person test" class="story__img">
                                <figcaption class="story__caption">
                                    Wakanda forever
                                </figcaption>
                            </figure>
                            <div class="story__text">
                                <h3 class="heaeding-tertiary u-margin-bottom-small">Sawatdee ja People</h3>
                                <ul>
                                    <li>Rate: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></li>
                                    <li>Type: pets</li>
                                    <li>Language knows: english, kanada</li>
                                    <li>Working time: 24hrs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-1-of-2" id="sitter1">
                        <div class="story">
                            <figure class="story__shape">
                                <img src="https://images.unsplash.com/photo-1476983109555-18ebaf412d7c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8c508869d7645131d98c453dd9ce0ae6&auto=format&fit=crop&w=3020&q=80" alt="person test" class="story__img">
                                <figcaption class="story__caption">
                                    Wakanda forever
                                </figcaption>
                            </figure>
                            <div class="story__text">
                                <h3 class="heaeding-tertiary u-margin-bottom-small">Sawatdee ja People</h3>
                                <ul>
                                    <li>Rate: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></li>
                                    <li>Type: pets</li>
                                    <li>Language knows: english, kanada</li>
                                    <li>Working time: 24hrs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-of-2" id="sitter1">
                            <div class="story">
                                <figure class="story__shape">
                                    <img src="https://images.unsplash.com/photo-1477118476589-bff2c5c4cfbb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ad57f7ca5832f3f72ee2c1c243c72f5c&auto=format&fit=crop&w=1650&q=80" alt="person test" class="story__img">
                                    <figcaption class="story__caption">
                                        Wakanda forever
                                    </figcaption>
                                </figure>
                                <div class="story__text">
                                    <h3 class="heaeding-tertiary u-margin-bottom-small">Sawatdee ja People</h3>
                                    <ul>
                                        <li>Rate: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></li>
                                        <li>Type: pets</li>
                                        <li>Language knows: english, kanada</li>
                                        <li>Working time: 24hrs</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="u-center-text u-margin-bottom-big">
                    <a href="sitter-bios.html" class="btn-text-yellow">see all &rarr;</a>
                </div>
        </section>
    <section class="section-service" id="joinUs">
            <div class="u-center-text u-margin-bottom-medium u-margin-top-small">
                <h1 class="heading-secondary">
                Join us 
                </h1>
                <h2 class="heading-secondary--yellow">The benefits of becoming a Sitter</h2>
            </div>
            <div class="row">
                <div class="col-1-of-4 ">
                    <div class="feature-box">
                            <i class="icon-basic-lightbulb feature-box__icon"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Explore the world</h3>
                            <p class="feature-box__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odio, eum omnis nulla dolore quasi
                            </p>
                    </div>
                </div>
                <div class="col-1-of-4 ">
                    <div class="feature-box">
                            <i class="icon-basic-world feature-box__icon"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Explore the world</h3>
                            <p class="feature-box__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odio, eum omnis nulla dolore quasi
                            </p>
                    </div>
                </div>
                <div class="col-1-of-4 ">
                    <div class="feature-box">
                            <i class="icon-basic-map feature-box__icon"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Explore the world</h3>
                            <p class="feature-box__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odio, eum omnis nulla dolore quasi
                            </p>
                    </div>
                </div>
                <div class="col-1-of-4 ">
                    <div class="feature-box">
                            <i class="icon-basic-photo feature-box__icon"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Explore the world</h3>
                            <p class="feature-box__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odio, eum omnis nulla dolore quasi
                            </p>
                    </div>
                </div>
            </div>
            <div class="u-center-text">
                    <a href="/apply" class="btn btn--lightblue">Be a sitter</a>
            </div>
        </section>

<% include ./partials/footer %>