<!--Awwww.....Don't cry
It's just a 404 Error!
What you're looking for may have been misplaced in Long Term Memory -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!--FONT-->
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

        <!--font-icon-->
        <link rel="stylesheet" href="css/font-icon-1.css">
        <!--style.css-->
        <link rel="stylesheet" href="css/style.css">
        <!--font-awesome-->
        <link rel="stylesheet" href="css/all.min.css">
        <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">-->
        <!--favicon-->
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        <title>Hestia | Error</title>
    </head>
    <body>
        
            <nav class="navbar navbar-header" id="navbar">
                    <div >
                        <ul>
                            <li><a href="/#headder" class="navbar-band navbar-left" id="nav-band">&nbsp</a></li>
                            <li><a href="/#about" class="navbar-left">About</a></li>
                            <li><a href="/#book" class="navbar-left">Our Services</a></li>
                            <li><a href="/#sitter" class="navbar-left">Sitters</a></li>
                            <li><a href="/#store" class="navbar-left">Store</a></li>
                            <li><a href="/#joinUs" class="navbar-left">Join us</a></li>
                            <li><a href="/#login" class="navbar-right"><i class="fas fa-user"></i>&nbspLogin</a></li>
                            <li><a href="signUp.html" class="navbar-right"><i class="fas fa-user-plus"></i>&nbspSign up</a></li>
                        </ul>
                    </div>
                </nav>
            
                <div class="navigation">
                    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
                   
                    <label for="navi-toggle" class="navigation__button">
                        <span class="navigation__icon">  </span>
                    </label>
        
                    <div class="navigation__background">&nbsp;</div>
        
                    <nav class="navigation__nav">
                        <ul class="navigation__list">
                            <li class="navigation__item" ></li><a href="/#about" class="navigation__link">About</a></li>
                            <li class="navigation__item" ><a href="/#book" class="navigation__link">Our Services</a></li>
                            <li class="navigation__item" ><a href="/#sitter" class="navigation__link">Sitters</a></li>
                            <li class="navigation__item" ><a href="/#store" class="navigation__link">Store</a></li>
                            <li class="navigation__item" ><a href="/#joinUs" class="navigation__link">Join us</a></li>
                            <li class="navigation__item" ><a href="signUp.html" class="navigation__link">Sign up</a></li>
                            <li class="navigation__item" ><a href="/#login" class="navigation__link">Log in</a></li>
                        </ul>
                    </nav>
                </div>

    <div class="notfound">
        <div class="notfound__box">
        <div class="row">
            <div class="col-1-of-2">
                <img src="img/error.png" alt="404error" class="notfound__img">
            </div>
            <div class="col-1-of-2">
                <div class="notfound__content">
                    <h2 class="notfound__heading">Error!!</h2>
                    <p>
                      Error message here!
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>
    <footer class="footer">
            <!--<div class="footer__logo-box">
                <img src="img/favicon.png" alt="Full logo" class="footer__logo">
            </div>-->
            <div class="row">
                <div class="col-1-of-2">
                    <div class="footer__navigation">
                        <ul class="footer__list">
                            <li class="footer__item"><a href="#" class="footer__link">company</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">contact us</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">carrers</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">privacy policy</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">terms</a></li>
                        </ul>
                        <div class="footer-icon__box">
                            <a href="#" class="footer-icon footer-icon__facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="footer-icon footer-icon__google"><i class="fab fa-google"></i></a>
                            <a href="#" class="footer-icon footer-icon__instagram"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="footer-icon footer-icon__twitter"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    
                   
                    <div class="footer__contact"><a href="#" class="footer-icon"><i class="fab fa-whatsapp"></i></a>+91 55555555</div>
                    <div class="footer__contact"><a href="#" class="footer-icon"><i class="fas fa-phone"></i></a>+91 55555555-2</div>
                    <div class="footer__contact"><a href="#" class="footer-icon"><i class="far fa-envelope"></i></a>customer-service@hestia.in</div>
                    <div class="footer__contact"><a href="#" class="footer-icon"><i class="fas fa-map-marker-alt"></i></a>Horsur main road, Bangalore 560029</div>
                    
                </div>
                <div class="col-1-of-2">
                    <p class="footer__copyright">
                        Build by <a href="#" class="footer__link">Hestia Team</a> Student of 3rd year BCA at <a href="#https://christuniversity.in/ target="_blank" class="footer__link">Christ (Deemed to be university)</a>.<br> Copyright2018 &copy;. This website is project of web technology project subject 5th semester
                    </p>
                </div>
            </div>
        </footer>
</body>
</html>