<% include ./partials/header %>
    <title>Hestia | Password reset</title>
</head>

<body class="request-sitter">
    <% include ./partials/navbarStick %>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
       
        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">  </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item" ></li><a href="/#about" class="navigation__link">About</a></li>
                <li class="navigation__item" ><a href="/#book" class="navigation__link">Our Services</a></li>
                <li class="navigation__item" ><a href="/#sitter" class="navigation__link">Sitters</a></li>
                <li class="navigation__item" ><a href="/store/homepage/mainpage.html" class="navigation__link">Store</a></li>
                <li class="navigation__item" ><a href="/#joinUs" class="navigation__link">Join us</a></li>
                <li class="navigation__item" ><a href="signUp.html" class="navigation__link">Sign up</a></li>
                <li class="navigation__item" ><a href="/#login" class="navigation__link">Log in</a></li>
            </ul>
        </nav>
    </div>
    <section class="passwordReset">
    <div class="row">
        <div class="col-1-of-2">
        <div class="passwordReset-left">
            <h1 class="passwordReset-heading">Forget Password?</h1>
                <form action="/reset" method="POST" class="help-setting__form">
                        <input type="email" name="email" placeholder="your email address" class="help-setting__form help-setting__form-input">
                        <input type="submit" name="request" value="Send request" class="help-setting__form help-setting__form-submit">
                </form>
        </div>
        </div>
<div class="col-1-of-2 ">
    <div class="passwordReset-content">
        <h1 class="passwordReset-h1">No Email Received?</h1>
        <h2 class="passwordReset-h2">If you don't see the email in your inbox</h2>
        <h3 class="passwordReset-h3">Check your spam/junk folder</h3>
        <p>Make sure email address: noreply@hestia.project.com is not blocked or make sure all emails from this email are always delivered
If that still does not work, try contacting your email service provider. They are most likely blocking emails from Myspace from being delivered. 
The forgot password feature has been checked and confirmed to be working as expected. </p>
</div>

</div>
    </div>
</section>
<% include ./partials/footer %>