<% include ./partials/header %>
    <title>Hestia | Password reset</title>
</head>

<body class="request-sitter">
    <% include ./partials/navbarStick %>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
       
        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">  </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item" ></li><a href="/#about" class="navigation__link">About</a></li>
                <li class="navigation__item" ><a href="/#book" class="navigation__link">Our Services</a></li>
                <li class="navigation__item" ><a href="/#sitter" class="navigation__link">Sitters</a></li>
                <li class="navigation__item" ><a href="/store/homepage/mainpage.html" class="navigation__link">Store</a></li>
                <li class="navigation__item" ><a href="/#joinUs" class="navigation__link">Join us</a></li>
                <li class="navigation__item" ><a href="signUp.html" class="navigation__link">Sign up</a></li>
                <li class="navigation__item" ><a href="/#login" class="navigation__link">Log in</a></li>
            </ul>
        </nav>
    </div>
    <section class="passwordReset">
    <div class="passwordReset-set">
    <h1 class="passwordReset-heading">New Password setting</h1>
    <p class="passwordReset-p">Your password has been reset.</p>
    <p class="passwordReset-p"> Please set new password</p>
    <form action="/reset/<%=hash%>" method="POST">
        <table>
            <tbody>
                <tr>
                    <td class="account-setting-td"><label for="new-password">New Password <span class="redStar">*</span></label></td>
                    <td class="account-setting-td"><input type="password" name="password" id="street" class="account-setting-input"></td>
                </tr>
                <tr>
                    <td class="account-setting-td"><label for="confirm-password">Confirm new Password <span class="redStar">*</span></label></td>
                    <td class="account-setting-td"><input type="password" name="confirm-password" id="confirm-password" class="account-setting-input"></td>
                </tr>
                <tr>
                    <td colspan="2" class="account-setting-td" ><input type="submit" name="reset-password" value="reset password" class="passwordReset-btn"></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>


</section>
<% include ./partials/footer %>