<% include ./partials/header %>
    <title>Hestia | Sitter - availability</title>
</head>

<body>
    <nav class="navbar navbar-sticky page">
            <div >
                    <ul>
                        <li><a href="/" class="navbar-band navbar-left">&nbsp</a></li>
                        <li><a href="/#about" class="navbar-left">About</a></li>
                        <li><a href="/#book" class="navbar-left">Our Services</a></li>
                        <li><a href="/#sitters" class="navbar-left">Sitters</a></li>
                        <li><a href="/#store" class="navbar-left">Store</a></li>
                        <li><a href="/apply" class="navbar-left">Join us</a></li>
                        <% if(user) { %>
                            <li><a href="/logout" class="navbar-right"><i class="fas fa-sign-out-alt"></i>&nbspLogout</a></li>
                            <li><a href="/account" class="navbar-right"><i class="fas fa-user"></i>&nbspMy Account</a></li>
                            <li><a href="#" class="navbar-right">Hi, <%= user.firstname %></a></li>
        
                            <% } else { %>
                            <li><a href="/#login" class="navbar-right"><i class="fas fa-user"></i>&nbspLogin</a></li>
                            <li><a href="/signup" class="navbar-right"><i class="fas fa-user-plus"></i>&nbspSign up</a></li>
                            <% } %>
                    </ul>
                </div>
    </nav>
<section class="account">
    <h1 class="heading-of-page">Sitter Account</h1>
    <div class="row">
        <div class="col-1-of-2">
            <div class="account-menu">
                <div class="account__details">
                    <ul>
                        <li class="account__details-link-active"><i class="far fa-calendar-alt"></i><a href="sitterAccount_availability.html" class="account__details-link">availability</a></li>
                        <li><i class="fas fa-book"></i><a href="myAccount_myBooking.html" class="account__details-link">My Booking</a></li>
                        <li><i class="fas fa-history"></i><a href="myAccount_bookingHistory.html" class="account__details-link">Booking History</a></li>
                        <li><i class="far fa-credit-card"></i><a href="myAccount_paymentMethod.html" class="account__details-link">Payment Method</a></li>
                        <li><i class="fas fa-credit-card"></i><a href="myAccount_bookingPayment.html" class="account__details-link">Booking Payment</a></li>
                        <li><i class="fas fa-file-invoice-dollar"></i><a href="myAccount_paymentHistory.html" class="account__details-link">Payment History</a></li>
                        <li><i class="fas fa-question-circle"></i><a href="myAccount_help.html" class="account__details-link">Help</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-1-of-2">
            <div class="account-setting">
                <h3>Day of the week :</h3>
                <hr>
                    <form action="#">
                     <table class="sitterAccount-table">
                            <tbody>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="monday" id="monday"></td>
                                    <td class="account-setting-td"><label for="monday">Monday</label></td>
                                </tr>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="tuesday" id="tuesday"></td>
                                    <td class="account-setting-td"><label for="tuesday">Tuesday</label></td>
                                </tr>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="wednesday" id="wednesday"></td>
                                    <td class="account-setting-td"><label for="wednesday">Wednesday</label></td>
                                </tr>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="thursday" id="thursday"></td>
                                    <td class="account-setting-td"><label for="thursday">Thursday</label></td>
                                </tr>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="friday" id="friday"></td>
                                    <td class="account-setting-td"><label for="friday">Friday</label></td>
                                </tr>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="saturday" id="saturday"></td>
                                    <td class="account-setting-td"><label for="saturday">Saturday</label></td>
                                </tr>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="sunday" id="sunday"></td>
                                    <td class="account-setting-td"><label for="sunday">Sunday</label></td>
                                </tr>
                                
                            </tbody>
                        </table>
                
                        <div class="u-center-text">
                            <input type="submit" name="save" class="account-setting-btn account-setting-btn-save" value="Save Change">
                        </div>
                    </form>
                <h3>Shifts :</h3>
                <hr>
                    <form action="#">
                     <table class="sitterAccount-table">
                            <tbody>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="timeSlot1" id="timeSlot1"></td>
                                    <td class="account-setting-td"><label for="timeSlot1">12.00 am - 4.00 am</label></td>
                                </tr>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="timeSlot2" id="timeSlot2"></td>
                                    <td class="account-setting-td"><label for="timeSlot2">4.00 am - 8.00 am</label></td>
                                </tr>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="timeSlot3" id="timeSlot3"></td>
                                    <td class="account-setting-td"><label for="timeSlot3">8.00 am - 12.00 am</label></td>
                                </tr>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="timeSlot4" id="timeSlot4"></td>
                                    <td class="account-setting-td"><label for="timeSlot4">12.00 am - 4.00 pm</label></td>
                                </tr>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="timeSlot5" id="timeSlot5"></td>
                                    <td class="account-setting-td"><label for="timeSlot5">4.00 pm - 8.00 pm</label></td>
                                </tr>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="timeSlot6" id="timeSlot6"></td>
                                    <td class="account-setting-td"><label for="timeSlot6">8.00 pm - 12.00 pm</label></td>
                                </tr>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="fullday" id="fullday"></td>
                                    <td class="account-setting-td"><label for="fullday">Full day</label></td>
                                </tr>
                               
                                
                            </tbody>
                        </table>
                
                        <div class="u-center-text">
                            <input type="submit" name="save" class="account-setting-btn account-setting-btn-save" value="Save Change">
                        </div>
                    </form>
                <h3>Services :</h3>
                <hr>
                    <form action="#">
                     <table class="sitterAccount-table">
                            <tbody>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="houseService" id="houseService"></td>
                                    <td class="account-setting-td"><label for="houseService">House Sitting</label></td>
                                </tr>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="babyService" id="babyService"></td>
                                    <td class="account-setting-td"><label for="babyService">Baby Sitting</label></td>
                                </tr>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="timeSlot3" id="timeSlot3"></td>
                                    <td class="account-setting-td"><label for="timeSlot3">Pet Sitting</label></td>
                                </tr>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="timeSlot4" id="timeSlot4"></td>
                                    <td class="account-setting-td"><label for="timeSlot4">Elderly People</label></td>
                                </tr>
                                <tr>
                                    <td class="account-setting-td sitterApply-checkbox"><input type="checkbox" name="timeSlot5" id="timeSlot5"></td>
                                    <td class="account-setting-td"><label for="timeSlot5">Physically/ Mentally Challenged</label></td>
                                </tr>
                            </tbody>
                        </table>
                
                        <div class="u-center-text">
                            <input type="submit" name="save" class="account-setting-btn account-setting-btn-save" value="Save Change">
                        </div>
                    </form>
        </div>
    </div>
</section>
<% include ./partials/footer %>