<% include ./partials/header %>
        <title>Hestia | Sign Up</title>
        <script type="text/javascript">
            var onloadCallback = function() {
              grecaptcha.render('html_element', {
                'sitekey' : '6LeiO2oUAAAAACiulDrR0LZQK4P6Cy98VGu1DvRf'
              });
            };
          </script>
    </head>
    <body>

    <nav class="navbar navbar-sticky">
        <div >
            <ul>
                <li><a href="/" class="navbar-band navbar-left">&nbsp</a></li>
                <li><a href="/#about" class="navbar-left">About</a></li>
                <li><a href="/#services" class="navbar-left">Our Services</a></li>
                <li><a href="/#sitters" class="navbar-left">Sitters</a></li>
                <li><a href="/#store" class="navbar-left">Store</a></li>
                <li><a href="/#joinUs" class="navbar-left">Join us</a></li>
                <li><a href="#login" class="navbar-right"><i class="fas fa-user"></i>&nbspLogin</a></li>
                <li><a href="." class="navbar-right"><i class="fas fa-user-plus"></i>&nbspSign up</a></li>
            </ul>
        </div>
    </nav>
    <section class="section-signUp" id="signUp">
            <div class="row">
                <div class="col-1-of-2">
                    <div class="signup-benefit">
                        <h3 class="heading-tertiry u-margin-bottom-small u-left-text">Benefit:</h3>
                        <p class="paragraph u-left-text">
                            ipsum dolor sit amet consectetur adipisicing elit. ipsa aliquid recusandae non ducimus, commodi reprehenderit quibusdam delectus nulla debitis laborum, autem cumque doloribus?
                        </p>
                        <h3 class="heading-tertiry u-margin-bottom-small u-left-text">You will get:</h3>
                        <p class="paragraph u-left-text">
                            ipsum dolor sit amet consectetur adipisicing elit. ipsa aliquid recusandae non ducimus, commodi reprehenderit quibusdam delectus nulla debitis laborum, autem cumque doloribus?
                        </p>
                    </div>
                </div>
                <div class="col-1-of-2 ">
                    <div class="signup-box">
                        <h4>Register</h4>
                        <div class="refer-box">     
                                <p class="refer-or">Sign up with your social media account</p>         
                                <a href="/auth/facebook" class="refer-icon refer-icon-facebook"><i class="fab fa-facebook-f"></i></a>
                                <a href="/auth/google" class="refer-icon refer-icon-gmail"><i class="fab fa-google"></i></a>
                                <a href="/auth/twitter" class="refer-icon refer-icon-twitter"><i class="fab fa-twitter"></i></a>
                                <hr>
                            </div> 
                        <div>
                            <p class="refer-or">Or</p>
                            <form action="signup" method="POST" class="signup-box-form" id="signup-form">
                                <input class="signup-box-form--input" type="text" name="name"  placeholder="Name" pattern="(?=^.{0,40}$)^[a-zA-Z-]+\s[a-zA-Z-]+$" title="Name contains only alpha characters and one space" required>
                                <input class="signup-box-form--input" type="email" name="username"  placeholder="Email Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Email formatting wrong" required>
                                <input class="signup-box-form--input" type="password" name="password" id="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                                <input class="signup-box-form--input" type="password" name="confirm-password" id="confirm-password" placeholder="Confirm-Password" required>
                                <input class="signup-box-form-check" type="checkbox" name="agree"  placeholder="agree term and condition" required>
                                <div class="signup-box-form--term">
                                     I agree to the  <a href="#">terms and conditions.</a>
                                </div>
                                <!-- <div class="g-recaptcha" data-sitekey="6LeiO2oUAAAAACiulDrR0LZQK4P6Cy98VGu1DvRf"></div> -->
                                <div id="html_element"></div>

                            </br>
                                <button name="signup"  value="Sign Up" class="btn-signup ">Sign up</button>
                            </form>
                            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                            async defer>
                            </script>
                            <script type="text/javascript">
                                var password = document.getElementById("password")
                                , confirm_password = document.getElementById("confirm-password");

                                function validatePassword(){
                                  if(password.value != confirm_password.value) {
                                    confirm_password.setCustomValidity("Passwords Don't Match");
                                  } else {
                                    confirm_password.setCustomValidity('');
                                  }
                                }
                                password.onchange = validatePassword;
                                confirm_password.onkeyup = validatePassword;
                                var form = document.getElementById('signup-form');
                                form.addEventListener("submit", function(event){
                                    if (grecaptcha.getResponse() === '') {                            
                                    event.preventDefault();
                                    alert('Please check the recaptcha');
                                    }
                                }
                                , false);
                            </script>
                            
                            <div class="signup-box-form--term">
                                    Already account? <a href="#login">login</a>
                                </div>
                        </div>
                        
                    </div>
                </div>
            </div>
    </section>
<% include ./partials/footer %>