<% include ./partials/header %>
<script type= "text/javascript" src = "js/countries.js"></script>
                <title>Hestia | Sign Up</title>
            </head>

    <body>

    <nav class="navbar navbar-sticky">
        <div >
            <ul>
                <li><a href="/" class="navbar-band navbar-left">&nbsp</a></li>
                <li><a href="#about" class="navbar-left">About</a></li>
                <li><a href="#book" class="navbar-left">Our Services</a></li>
                <li><a href="#sitters" class="navbar-left">Sitters</a></li>
                <li><a href="#store" class="navbar-left">Store</a></li>
                <li><a href="/apply" class="navbar-left">Join us</a></li>
                <% if(user) { %>
                <li><a href="/logout" class="navbar-right">Logout</a></li>
                <li><a href="/account" class="navbar-right"><i class="fas fa-user"></i>&nbspMy Account</a></li>
                <li><a href="#" class="navbar-right">Hi, <%= user.name %></a></li>

                <% } else { %>
                <li><a href="signUp-detail.html" class="navbar-right"><i class="fas fa-user"></i>&nbspLogin</li>
                <li><a href="#login" class="navbar-right"><i class="fas fa-user-plus"></i>&nbspSign up</a>>
                <% } %>
            </ul>
        </div>
    </nav>

    <section class="section-signUp" id="signUp">
            
            <div class="signup-box--detail">
            <h3>Let's us know you</h3> 
            <i class="icon-basic-home icon_form icon_form-top"></i>
           
            <% if(user!=null) { userid=user._id; } %>
            <form action="/signup/<%= userid %>?_method=PUT" method="POST" >
                <input class="signup-box-form--input" type="text" name="housenumber" placeholder="House no.">
                <input class="signup-box-form--input" type="text" name="street" placeholder="Street">
                <input class="signup-box-form--input" type="text" name="zipcode" placeholder="Zip code">
                <input class="signup-box-form--input" type="text" name="city" placeholder="City">
                <select class="signup-box-form--input" id="country" name="country" placeholder="Country"></select>
                <select class="signup-box-form--input" name="state" id="state" placeholder="State"></select>
                <input class="signup-box-form--input" type="text" name="phonenumber" pattern="{9,15}"
                title="Phone number formatting wrong" placeholder="Phone number">
                <button name="signup" value="Sign Up" class="signup-box--detail-btn">Save </button>
            </form>
           
            </div>
    </section>
    <script language="javascript">
        document.getElementById('country')
        populateCountries("country", "state"); // first parameter is id of country drop-down and second parameter is id of state drop-down
        populateCountries("country2");
        populateCountries("country2");
    </script>
    <% include ./partials/footer %>
    
    
