@media screen and (max-width: 70rem) {
  body {
    margin: 0rem 0rem !important;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 0 0; }
  .navigation {
    visibility: visible !important; }
  .navbar-sticky {
    visibility: hidden; }
  .navbar-header {
    visibility: hidden; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    /*, rotate(45deg);*/ }
  /*60%{
        transform: rotate(55deg);
    }*/
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBotton {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fade {
  0% {
    opacity: 0; }
  80% {
    opacity: .8; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: white; }

body {
  margin: 2rem 4rem;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4); }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    font-family: "Dosis", sans-serif;
    display: block;
    font-size: 8rem;
    font-weight: 800;
    text-shadow: 0.5rem 1rem 3rem black;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    text-transform: uppercase;
    /*animation-delay: 3s;*/
    /*animation-iteration-count: 3;*/
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    font-family: 'Shadows Into Light', cursive;
    animation-iteration-count: ease-out; }

.heading-secondary {
  font-family: 'Lato';
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: white;
  background-image: linear-gradient(to left bottom, #84cfe2, #388ca1);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  text-shadow: 0.5rem 0.5rem 6rem rgba(255, 255, 255, 0.8);
  animation: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(132, 207, 226, 0.7); }
  .heading-secondary--white {
    background-image: linear-gradient(to left bottom, white, white);
    -webkit-background-clip: text; }
    .heading-secondary--white:hover {
      transform: scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.7); }

.heading-tertiry {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-right-text {
  text-align: right; }

.u-left-text {
  text-align: left; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-very-small {
  margin-top: -1rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn {
  background-color: #fff;
  color: #777;
  padding: 1.5rem 4rem; }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleY(1.4) scaleX(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s; }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--lightblue {
    background-color: #84cfe2;
    color: #fff; }
    .btn--lightblue::after {
      background-color: #388ca1; }
  .btn--animated {
    animation: moveInBotton .5s ease-out .75s;
    animation-fill-mode: backwards; }
  .btn-totop {
    visibility: hidden;
    position: fixed;
    background-color: white;
    color: #747474;
    font-size: 3rem;
    text-decoration: none;
    padding-top: .2rem;
    padding-left: 1.5rem;
    height: 5rem;
    width: 5rem;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    bottom: 6.5rem;
    right: 6.5rem;
    z-index: 20;
    transition: all .2s;
    display: block; }
    .btn-totop:hover {
      transform: scale(1.1); }

.btn-signup {
  font-size: 1.4rem;
  margin-top: 2rem;
  background-color: #fff;
  color: #777;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  padding: 1.5rem 4rem; }
  .btn-signup-center {
    margin: 1rem 62.5rem;
    position: absolute; }
  .btn-signup:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn-signup:hover::after {
      opacity: 0; }
  .btn-signup:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-text:link, .btn-text:visited {
  color: #646464;
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid #646464;
  padding: 3px;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  color: black;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-text-yellow:link, .btn-text-yellow:visited {
  color: #000000;
  display: inline-block;
  position: absolute;
  text-decoration: none;
  border-bottom: 2px solid #000000;
  padding: 3px;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text-yellow:hover {
  background-image: linear-gradient(to right bottom, rgba(248, 225, 163, 0.5), rgba(248, 225, 163, 0.5));
  color: #5a4200;
  border-bottom: 2px solid #5a4200;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text-yellow:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.card {
  margin-top: -3rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .8s ease;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      background-color: white;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #fdcbcb, #ce8787); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #9bcdda, #89bfdf); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #b0d8a9, #78c793); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 22rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(253, 203, 203, 0.4), #ce8787), url(../img/about-house.jpeg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(155, 205, 218, 0.4), #89bfdf), url(../img/about-people2.jpeg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(176, 216, 169, 0.8), #78c793), url(../img/about-pets.jpeg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(253, 203, 203, 0.85), rgba(206, 135, 135, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(155, 205, 218, 0.85), rgba(137, 191, 223, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(176, 216, 169, 0.85), rgba(120, 199, 147, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    margin-bottom: 8rem;
    color: white; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.navbar {
  position: absolute;
  width: 100%;
  z-index: 10;
  transition: all 0.3s;
  overflow: hidden;
  margin-left: -4rem; }
  .navbar ul {
    list-style-type: none; }
    .navbar ul:first-child {
      padding-left: 4rem; }
    .navbar ul:last-child {
      padding-right: 5rem; }
  .navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none; }
    .navbar a:hover {
      color: #84cfe2; }
  .navbar-band {
    position: relative;
    background-image: url(../img/_icon-Hesitia.png);
    background-size: 40px 35px;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 5%;
    padding-left: 5rem;
    max-height: 100%;
    /*height of the navbar */ }
  .navbar-left {
    float: left; }
  .navbar-right {
    float: right; }
  .navbar-header {
    padding-left: 5rem;
    padding-top: 3.5rem; }
    .navbar-header a:hover {
      color: #388ca1; }
  .navbar-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #494949;
    transition: all 1s;
    box-shadow: 0 0 2rem black; }

.navigation {
  visibility: hidden; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: white;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer; }
  .navigation__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#494949, #000);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    /*transform: scale(50);*/ }
  .navigation__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    padding: 1rem 2rem;
    background-size: 250%;
    font-size: 2rem;
    transition: all ease .4s;
    display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #388ca1;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(70); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 110%; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 3px;
      background-color: #777;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: " ";
      position: absolute;
      left: 0;
      transition: all .6s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1.2rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1.2rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(135deg);
    top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    transform: rotate(45deg);
    top: 0; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    border-radius: 2px;
    transition: all .2s;
    outline-offset: 2rem;
    z-index: 0; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 15rem; }
    .composition__photo:hover {
      /*outline: 1.5rem solid $color-primary-blue;*/
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 10; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.footer {
  background-color: #494949;
  padding: 10rem 0;
  position: static;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid gray;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #494949;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #388ca1;
    box-shadow: 0 1rem 2rem rbga(#000, 0.4);
    transform: scale(1.2); }
  .footer__copyright {
    border-top: 1px solid gray;
    padding-top: 2rem;
    width: 80%;
    float: right; }
  .footer-icon {
    height: 3rem;
    width: 3rem;
    font-size: 1.7rem;
    padding-top: .3rem;
    display: inline-block;
    transition: all .2s;
    text-align: center;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); }
    .footer-icon:not(:last-child) {
      margin-right: 1.5rem; }
    .footer-icon:visited, .footer-icon:link {
      color: white; }
    .footer-icon:hover {
      transform: scale(2);
      color: #84cfe2; }
    .footer-icon:active {
      transform: translateY(0.5rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .footer-icon__box {
      margin: 2rem auto;
      margin-left: 33%; }
  .footer__contact {
    display: block;
    text-align: center;
    margin-right: 9rem;
    color: #8f8f8f; }
    .footer__contact .footer-icon {
      color: #8f8f8f; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .5s; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.35); }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to left bottom, #84cfe2, #f8e1a3);
    -webkit-background-clip: text;
    color: transparent; }

.story {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: .3rem;
  padding: 2rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  position: relative; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-16%) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
    .story__text ul {
      list-style: none; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-16%) scale(1);
    filter: blur(3px) brightness(80%); }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(132, 207, 226, 0.3), rgba(248, 225, 163, 0.3)), url(../img/main.jpeg);
  background-size: cover;
  background-position: top;
  /*clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);*/
  /*clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%); Triangle 
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); star*/ }
  .header__logo-box {
    top: 3.5rem;
    left: 6.5rem;
    position: absolute; }
  .header__logo {
    height: 7rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc(((2 * (100% - 2 * 6rem)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-4 {
    width: calc(((2 * (100% - 3 * 6rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(((3 * (100% - 3 * 6rem)) / 4) + 2 * 6rem); }

.section-about {
  height: 100vh;
  background-image: linear-gradient(to right top, rgba(132, 207, 226, 0.2), rgba(255, 255, 255, 0.8), rgba(248, 225, 163, 0.5));
  background-size: cover;
  background-position: top;
  padding-top: 10rem;
  padding-bottom: 10rem;
  color: black; }

.section-service {
  height: 100vh;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: linear-gradient(to right bottom, rgba(132, 207, 226, 0.2), rgba(255, 255, 255, 0.8), rgba(248, 225, 163, 0.2));
  background-size: cover;
  /*& > * 
    {
        transform: skewY(-7deg);
    }*/ }

.section-book {
  height: 100vh;
  padding-top: 6rem;
  padding-bottom: 10rem;
  background-image: linear-gradient(to left bottom, rgba(248, 225, 163, 0.2), rgba(255, 255, 255, 0.8), rgba(132, 207, 226, 0.2));
  background-size: cover; }

.section-sitter {
  height: 100%;
  padding-top: 10rem;
  padding-bottom: 6rem;
  background-image: linear-gradient(to left top, rgba(248, 225, 163, 0.2), rgba(255, 255, 255, 0.8), rgba(132, 207, 226, 0.2));
  background-size: cover; }

.section-signUp {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/img/signUp_bg.jpeg);
  background-size: cover;
  background-position: top;
  background-blend-mode: initial;
  padding-top: 10rem;
  padding-bottom: 10rem;
  color: white;
  position: relative; }
  .section-signUp hr {
    width: 20rem;
    margin: 1rem auto;
    border: 1px solid #707070;
    opacity: .5; }

.refer {
  position: absolute; }
  .refer-box {
    padding: .5rem;
    margin: 2rem auto;
    width: 20rem;
    display: block; }
  .refer-or {
    font-size: 2rem;
    color: #707070; }
  .refer-icon {
    height: 3rem;
    width: 3rem;
    padding-top: .2rem;
    display: inline-block;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transition: all .2s; }
    .refer-icon:not(:last-child) {
      margin-right: 1.5rem; }
    .refer-icon-facebook {
      background-color: #4b66b4; }
    .refer-icon-gmail {
      background-color: #cb591d; }
    .refer-icon-twitter {
      background-color: #61a8bd; }
    .refer-icon:visited, .refer-icon:link {
      color: white; }
    .refer-icon:hover {
      transform: scale(2); }
    .refer-icon:active {
      transform: translateY(0.5rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.signup-box {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1rem 4rem rgba(255, 255, 255, 0.15);
  width: 70%;
  margin-left: 20%;
  margin-top: 10%;
  position: relative; }
  .signup-box h4 {
    color: black;
    font-size: 3rem; }
  .signup-box--detail {
    background-color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 30%;
    margin-right: 30%; }
    .signup-box--detail h3 {
      color: #388ca1;
      font-size: 4rem;
      text-align: center;
      letter-spacing: 1rem; }
    .signup-box--detail .icon_form {
      position: absolute; }
      .signup-box--detail .icon_form-top {
        font-size: 7rem;
        color: #f8e1a3;
        margin-left: 3.5rem; }
    .signup-box--detail-btn {
      width: 30rem;
      height: 4rem;
      border-radius: 5rem;
      border: 0px solid;
      display: block;
      background-color: #ff7730;
      color: white;
      padding: 1rem;
      margin: 3rem auto;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      font-size: 1.5rem;
      font-weight: 400;
      transition: all .3s; }
      .signup-box--detail-btn:hover {
        box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
        transform: scale(1.03); }
      .signup-box--detail-btn:active {
        box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4);
        transform: translateY(0.3rem); }
  .signup-box-form--input {
    width: 30rem;
    height: 4rem;
    border-radius: .4rem;
    border: 0px solid;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    font-weight: 400;
    transition: all .1s; }
    .signup-box-form--input:focus {
      background-color: rgba(255, 255, 255, 0.8);
      transform: scale(1.1);
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5); }
    .signup-box-form--input::placeholder {
      color: gray;
      font-size: 1.3rem;
      font-weight: 100; }
    .signup-box-form--input:hover {
      transform: scale(1.03); }
  .signup-box-form--term {
    display: inline;
    color: #707070; }
    .signup-box-form--term a {
      text-decoration: none;
      color: #707070; }
      .signup-box-form--term a:hover {
        text-decoration: underline;
        color: black; }

.signup-benefit {
  margin-top: 30%;
  margin-left: 30%; }

/*
npm run compile:sass //to transform to css file
*/
