<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        
    <!--<link rel="stylesheet" href="css/icon-font.css">-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-icon-1.css">

    <script src="jQuery/jquery-2.1.4.min.js"></script>            

    <link rel="shortcut icon" type="image/png" href="img/favicon.png"">
        
    <link rel="stylesheet" href="css/all.min.css">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">-->
    <script type= "text/javascript" src = "js/countries.js"></script>
    <title>Hestia | Sitter - Total Tasks</title>

</head>

<body >
        <nav class="navbar navbar-sticky ">
            <div >
                <ul>
                    <li><a href="/" class="navbar-band navbar-left">&nbsp</a></li>
                    <li><a href="/#about" class="navbar-left">About</a></li>
                    <li><a href="/#book" class="navbar-left">Our Services</a></li>
                    <li><a href="/#sitters" class="navbar-left">Sitters</a></li>
                    <li><a href="/#store" class="navbar-left">Store</a></li>
                    <li><a href="/#joinUs" class="navbar-left">Join us</a></li>
                    <li><a href="#login" class="navbar-right"><i class="fas fa-user"></i>&nbspLogin</a></li>
                    <li><a href="signUp.html" class="navbar-right"><i class="fas fa-user-plus"></i>&nbspSign up</a></li>
                </ul>
            </div>
        </nav>
        <div class="navigation">
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
           
            <label for="navi-toggle" class="navigation__button">
                <span class="navigation__icon">  </span>
            </label>
    
            <div class="navigation__background">&nbsp;</div>
    
            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item" ></li><a href="/#about" class="navigation__link">About</a></li>
                    <li class="navigation__item" ><a href="/#book" class="navigation__link">Our Services</a></li>
                    <li class="navigation__item" ><a href="/#sitter" class="navigation__link">Sitters</a></li>
                    <li class="navigation__item" ><a href="/store/homepage/mainpage.html" class="navigation__link">Store</a></li>
                    <li class="navigation__item" ><a href="/#joinUs" class="navigation__link">Join us</a></li>
                    <li class="navigation__item" ><a href="signUp.html" class="navigation__link">Sign up</a></li>
                    <li class="navigation__item" ><a href="/#login" class="navigation__link">Log in</a></li>
                </ul>
            </nav>
        </div>
<section class="account">
    <h1 class="heading-of-page">Sitter Account</h1>
    <div class="row">
        <div class="col-1-of-2">
            <div class="account-menu">
                <div class="account__details">
                    <ul>
                        <li><i class="fas fa-chart-line"></i><a href="sitterAccount_dashboard.html" class="account__details-link">Dashboard</a></li>
                        <li><i class="fas fa-user-tie"></i><a href="sitterAccount_general.html" class="account__details-link">General Setting</a></li>
                        <li><i class="far fa-calendar-alt"></i><a href="sitterAccount_availability.html" class="account__details-link">availability</a></li>
                        <li class="account__details-link-active"><i class="fas fa-book"></i><a href="sitterAccount_TotalTask.html" class="account__details-link">Total Tasks</a></li>
                        <li><i class="fas fa-history"></i><a href="sitterAccount_currentTask.html" class="account__details-link">Current Tasks</a></li>
                        <li><i class="fas fa-location-arrow"></i><a href="sitterAccount_requestTask.html" class="account__details-link">Request Tasks <span class="task-notification">2</span></a></li>
                        <li><i class="fas fa-question-circle"></i><a href="sitterAccount_help.html" class="account__details-link">Help</a></li>
                    </ul>
                </div>
            </div>

        </div>
    <div class="col-1-of-2">
  
            <div class="help-setting">
                    <h2>Help Center</h2>
                    
                    <div class="row help-setting-row">
                        <div class="col-1-fo-3">
                            <div class="help-topic">
                                <div class="help-topic__number">?</div>
                                <div class="help-topic__content">
                                    <h3 class="help-topic__header">FAQs</h3>
                                    Regular question & answer are presented have in the FAQs area.
                                   </div>
                            </div>
                        </div>
                        <div class="col-1-fo-3">
                            <div class="help-topic">
                                <div class="help-topic__number"><i class="fab fa-leanpub"></i></div>
                                <div class="help-topic__content">
                                    <h3 class="help-topic__header">Knowledge Base</h3>
                                    The fastest way to get support is finding the answer though Knowledge Base system.
                                </div>
                            </div>
                        </div>
                        <div class="col-1-fo-3">
                            <div class="help-topic">
                                <div class="help-topic__number"><i class="far fa-comment"></i></div>
                                <div class="help-topic__content">
                                    <h3 class="help-topic__header">Support Forum</h3>
                                    You can easy to find out the answer over existing topics on the support forum.</div>
                            </div>
                        </div>
                    </div>
                    <form action="#" class="help-setting__form">
                        <input type="text" name="help" placeholder="How do we help?" class="help-setting__form help-setting__form-input">
                        <input type="submit" name="request" value="Request Support" class="help-setting__form help-setting__form-submit">
                    </form>
                </div>
            </div>
    
</section>





    <footer class="footer">
        <div class="row">
            <div class="col-1-of-2">
                <div class="footer__navigation">
                    <ul class="footer__list">
                        <li class="footer__item"><a href="#" class="footer__link">company</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">contact us</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">carrers</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">privacy policy</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">terms</a></li>
                    </ul>
                    <div class="footer-icon__box">
                        <a href="#" class="footer-icon footer-icon__facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="footer-icon footer-icon__google"><i class="fab fa-google"></i></a>
                        <a href="#" class="footer-icon footer-icon__instagram"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="footer-icon footer-icon__twitter"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                
               
                <div class="footer__contact"><a href="#" class="footer-icon"><i class="fab fa-whatsapp"></i></a>+91 55555555</div>
                <div class="footer__contact"><a href="#" class="footer-icon"><i class="fas fa-phone"></i></a>+91 55555555-2</div>
                <div class="footer__contact"><a href="#" class="footer-icon"><i class="far fa-envelope"></i></a>customer-service@hestia.in</div>
                <div class="footer__contact"><a href="#" class="footer-icon"><i class="fas fa-map-marker-alt"></i></a>Horsur main road, Bangalore 560029</div>
                
            </div>
            <div class="col-1-of-2">
                <p class="footer__copyright">
                    Build by <a href="#" class="footer__link">Hestia Team</a> Student of 3rd year BCA at <a href="https://christuniversity.in/" target="_blank" class="footer__link">Christ (Deemed to be university)</a>.<br> Copyright2018 &copy;. This website is project of web technology project subject 5th semester
                </p>
            </div>
        </div>
    </footer>
    <script>
     var newSpan='<span class="fa fa-star"></span>' + 
                '<span class="fa fa-star"></span>'+ 
                '<span class="fa fa-star"></span>'+ 
                '<span class="fa fa-star"></span>'+ 
                '<span class="fa fa-star"></span>';

    $("td.starr").append(newSpan);
  
    var n=$("td.starr p").size();

    $("td.starr p").css("display","inline");
    $("td.starr p").css("visibility","hidden");

    for(let j=0;j<n;j++)
    {
        var rate=$("td.starr:eq("+j+")").text();
        for(let i=0;i<rate;i++)
        {
            $( "td.starr:eq("+j+") span.fa.fa-star:eq("+i+")" ).addClass("checked")
        }
    }
   
    

  </script>
    </script>
</body>
</html>

